@use 'frontend/app/styles/common';

.source-mapper .text-ir-header {
  padding: 2px 5px;
  background-color: #ccc;
  border-radius: 0;
  min-height: 20px;
  max-height: 20px;
  font-family: common.$code-font-family;
  white-space: nowrap;
}

.source-mapper .text-ir-header-title{
  display: flex;
  align-items: center;
  gap: 10px;
}

.ir-text-content .line-number {
  flex-shrink: 0; // Don't let it shrink
  padding: 0 5px; // Horizontal padding
  text-align: right; // Align numbers to the right
  color: #636d83; // A slightly lighter gray than the code text
  user-select: none; // Prevent selection of line numbers
  font-size: 0.9em;
}

.ir-text-content .line-content {
  padding: 0 0 0 2px; // Distance between the line number and the text
  margin: 0;
}

.source-mapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ir-text-container {
  width: 50%;
}

.stack-trace-snippet-container {
  width: 50%;
}

.ir-text-header:not(.mat-expanded):hover {
  background-color: #ccc;
}

.ir-text-header {
  padding: 2px 5px;
  background-color: #ccc;
  border-radius: 0;
  min-height: 20px;
  max-height: 20px;
  font-family: common.$code-font-family;
  white-space: nowrap;
}

.ir-text-header .external-link-icon {
  margin-left: auto; // Icon to the right
  color: #0000008f; // Darker than its backgrond
  padding: 0;
}

.source-file-select, .ir-type-select {
  width: 100%;
}

:host ::ng-deep .ir-text-panel .mat-expansion-panel-body {
  padding: 0 0 0 2px; // Distance between the panel and the content start
  margin: 0;
}

.legacy-table-wrapper {
  white-space: nowrap;
  overflow-x: auto; // Horizontal scroll if needed
}

.ir-text-content .line-selected {
  background-color: #fff6e6;
}

mat-progress-bar {
  width: 80px; // Example fixed width
  flex-shrink: 0; // Prevent it from shrinking too much
}
